absl_py==2.1.0
fuzzywuzzy==0.18.0
geopy==2.4.1
instructor==1.14.5
numpy==2.4.4
openai==2.30.0
pandas==3.0.2
portalocker==3.2.0
protobuf==7.34.1
pydantic==2.12.5
pypinyin==0.55.0
PyYAML==6.0.3
Requests==2.33.1
scikit_learn==1.8.0
scipy==1.17.1
openpyxl==3.1.5
